<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767898419227-advkq7ns62963t1qc5gkg8jpds24v666.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767898419227-advkq7ns62963t1qc5gkg8jpds24v666</string>
	<key>API_KEY</key>
	<string>AIzaSyDoeFUZARsNyRgMF7ZLgY1Jsm1T04m3sQs</string>
	<key>GCM_SENDER_ID</key>
	<string>767898419227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daurenbek.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>timetrackerapp-621ec</string>
	<key>STORAGE_BUCKET</key>
	<string>timetrackerapp-621ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767898419227:ios:919a74e48442f82ad8f8be</string>
</dict>
</plist>